<button md-icon-button [mdMenuTriggerFor]="menu" >
    <md-icon>more_vert</md-icon>
</button>
{{menuItems.length}}
<!--<md-menu #menu="mdMenu"  [overlapTrigger]="false" [classList]="'submenu'">
    <button md-menu-item *ngFor="let item of menuItems; let i = index">
        <md-icon>{{item.icon}}</md-icon>
        <span>{{item.text}}</span>
    </button>
    <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
    </button>
    <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
    </button>
</md-menu>-->